/* ============================================================
   OVERTEXT — Carrusel Portada 
   ============================================================ */

#carrusel-portada .carousel-item {
    min-height: 520px;
}


#carrusel-portada img {
    height: 420px;
    width: 100%;
    object-fit: cover;
}

@media (max-width: 768px) {
    #carrusel-portada .carousel-item {
        min-height: auto;
    }

    #carrusel-portada img {
        height: 280px;
    }
}

/* ============================================================
   OVERTEXT — Carrusel Producto
   ============================================================ */


.carrusel-producto-img {
    width: 100%;
    aspect-ratio: 3 / 4;
    object-fit: cover;
}


#carrusel-producto .carousel-inner:has(.carousel-item:only-child)~.carousel-control-prev,
#carrusel-producto .carousel-inner:has(.carousel-item:only-child)~.carousel-control-next,
#carrusel-producto .carousel-inner:has(.carousel-item:only-child)~.carousel-indicators {
    display: none !important;
}